<h3 class="h2">Add Comment <span>Your email address will not be published</span></h3>
    
<form name="contactForm"
      id="contactForm"
      method="post"
      action="{% url 'blog:post_comment' post.id %}"
      autocomplete="off">

    {% csrf_token %}

    <fieldset>

        <div class="form-field">
            {{ form.name }}
            {% if form.name.errors %}
                <span class="error">{{ form.name.errors }}</span>
            {% endif %}
        </div>

        <div class="form-field">
            {{ form.email }}
            {% if form.email.errors %}
                <span class="error">{{ form.email.errors }}</span>
            {% endif %}
        </div>

        <div class="form-field">
            {{ form.website }}
        </div>

        <div class="message form-field">
            {{ form.body }}
            {% if form.body.errors %}
                <span class="error">{{ form.body.errors }}</span>
            {% endif %}
        </div>

        <input name="submit"
               id="submit"
               class="btn btn--primary btn-wide btn--large full-width"
               value="Add Comment"
               type="submit">

    </fieldset>
</form>
