<div class="row">
    <div class="column large-full">
        <nav class="pgn">
            <ul>
                {% if page.has_previous %}
                <li><a class="pgn__prev" href="?page={{ page.previous_page_number }}">Prev</a></li>
                {% endif %}
                {% comment %} <li><a class="pgn__num" href="#0">1</a></li> {% endcomment %}
                <li><span class="pgn__num current">{{ page.number }}</span></li>
                {% comment %} <li><a class="pgn__num" href="#0">3</a></li>
                <li><a class="pgn__num" href="#0">4</a></li>
                <li><a class="pgn__num" href="#0">5</a></li>
                <li><span class="pgn__num dots">…</span></li>
                <li><a class="pgn__num" href="#0">8</a></li> {% endcomment %}
                {% if page.has_next %}
                <li><a class="pgn__next" href="?page={{ page.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</div> 