{% extends "blog/base.html" %}

{% load static %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock  %}

{% block content %}
<!-- site content
================================================== -->
<div class="s-content content">
    <main class="row content__page">
        <article class="column large-full entry format-standard">

            <div class="media-wrap entry__media">
                <div class="entry__post-thumb">
                    {% if post.header_image %}
                        <img src="{{ post.header_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>

            <div class="content__page-header entry__header">
                <h1 class="display-1 entry__title">{{ post.title }}</h1>
                <ul class="entry__header-meta">
                    <li class="author">By <a href="#0">{{ post.author }}</a></li>
                    <li class="date">{{ post.publish }}</li>
                    <li class="cat-links">
                        <a href="{% url "blog:post_category_list" post.category.slug %}">{{ post.category }}</a>
                    </li>
                </ul>
            </div> <!-- end entry__header -->

            <div class="entry__content">

                <div class="lead drop-cap">{{ post.body|markdown }}</div>

                <p class="entry__tags">
                    <span>Post Tags</span>

                    <span class="entry__tag-list">
                        {% for tag in post.tags.all %}
                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                        <!-- <a href="#0">lectus</a> -->
                    </span>
    
                </p>

            </div> <!-- end entry content -->

            <div class="entry__pagenav">
                <div class="entry__nav">
                    <div class="entry__prev">
                        <a href="#0" rel="prev">
                            <span>Previous Post</span>
                            Tips on Minimalist Design 
                        </a>
                    </div>
                    <div class="entry__next">
                        <a href="#0" rel="next">
                            <span>Next Post</span>
                            Less Is More 
                        </a>
                    </div>
                </div>
            </div> <!-- end entry__pagenav -->

            <div class="entry__related">
                <h3 class="h2">Related Articles</h3>

                <ul class="related">
                    <li class="related__item">
                        <a href="single-standard.html" class="related__link">
                            <img src="{% static "deps/images/thumbs/masonry/walk-600.jpg" %}" alt="">
                        </a>
                        <h5 class="related__post-title">Using Repetition and Patterns in Photography.</h5>
                    </li>
                    <li class="related__item">
                        <a href="single-standard.html" class="related__link">
                            <img src="{% static "deps/images/thumbs/masonry/dew-600.jpg" %}" alt="">
                        </a>
                        <h5 class="related__post-title">Health Benefits Of Morning Dew.</h5>
                    </li>
                    <li class="related__item">
                        <a href="single-standard.html" class="related__link">
                            <img src="{% static "deps/images/thumbs/masonry/rucksack-600.jpg" %}" alt="">
                        </a>
                        <h5 class="related__post-title">The Art Of Visual Storytelling.</h5>
                    </li>
                </ul>
            </div> <!-- end entry related -->

        </article> <!-- end column large-full entry-->



        <div class="comments-wrap">

            <div id="comments" class="column large-12">
                {% with comments.count as total_comments %}
                    <h3 class="h2">{{ total_comments }} Comment{{ total_comments|pluralize }}</h3>
                {% endwith %}

                <ol class="commentlist"><!-- START commentlist -->

                    {% for comment in comments %}
                    <li class="depth-1 comment">
                        <hr>
                        <div class="comment__avatar">
                            <img class="avatar" src="{% static "/deps/images/avatars/person.jpg" %}" alt="" width="50" height="50">
                        </div>
                        <div class="comment__content">
                            <div class="comment__info">
                                <div class="comment__author">{{ comment.name }}</div>
                                <div class="comment__meta">
                                    <div class="comment__time">{{ comment.created }}</div>
                                    <!-- <div class="comment__reply">
                                        <a class="comment-reply-link" href="#0">Reply</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="comment__text">
                            <p>{{ comment.body|linebreaks }}</p>
                            </div>
                        </div>
                        
                    </li> <!-- end comment level 1 -->

                    {% empty %}
                        <p>There are no comments.</p>
                    {% endfor %}
                
                </ol><!-- END commentlist -->

            </div> <!-- end comments -->

            {% include "blog/post/includes/comment_form.html"%}<!-- end comment-respond -->
    
        </div> <!-- end comments-wrap -->
    </main>

</div> <!-- end s-content -->
{% endblock  %}