{% extends "blog/base.html" %}

{% load static %}
{% load blog_tags %}

{% block title %}Search{% endblock  %}

{% block content %}
<!-- site content
================================================== -->
{% if query %}
<div class="s-content">
    <h1>Search results for "{{ query }}"</h1>
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            {% for post in results %}
            <article class="masonry__brick entry format-standard animate-this">
                <div class="entry__thumb">
                    <a href="{{ post.get_absolute_url}}" class="entry__thumb-link">
                        <img src="{% if post.preview_image %}{{ post.preview_image.url }}
                        {% else %}{% static "deps/images/no_image_found.webp" %}{% endif %}" alt="{{ post.title }}">
                    </a>
                </div>
                <div class="entry__text">
                    <div class="entry__header">
                        <h2 class="entry__title"><a href="{{ post.get_absolute_url}}">{{ post.title }}</a></h2>
                        <div class="entry__meta">
                            <span class="entry__meta-cat">
                                <a href="{% url "blog:post_category_list" post.category.slug %}">{{ post.category }}</a>
                            </span>
                            <span class="entry__meta-date">
                                <a href="{{ post.get_absolute_url}}">{{ post.publish }}</a>
                            </span>
                        </div>
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            {{ post.headline|safe }}
                        </p>
                    </div>
                </div>  
            </article> <!-- end article -->
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
</div> <!-- end s-content -->
{% endif %}
{% endblock  %}